<!doctype html>
<html lang="en">
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">HomePage</a></li>
                    <li><a href="/admin/add-product">ADD Product</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <form action="/admin/add-product" method="POST">
                <input type="text" name="title" />
                <button type="submit">ADD Product</button>
            </form>
        </main>
    </body>
</html>
